<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<section class="admin-login-outer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 padd-none">
				<div class="admin-access-form-outer">
					<div class="form-logo-outer">
						<a href="#"><img src="images/dealflickr-logo.png" alt="Dealflikr"/></a></div>
					<form>
						<p class="reset-password">Enter Email to Reset your password:-</p>
						<div class="form-group">
							<label>Your Email</label>
							<input type="email" placeholder="Your Email" />
						</div>
						<div class="submit-form-outer">
							<button type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% include "mindcreature-admin/footer.html" %}