{% include "mindcreature-admin/header.html" %}
      <!--main content start-->
      <section id="main-content">
         <div class="wrapper">
			<div class="col-xs-12 padd-none">
				<h3 class="page-header"><i class="fa fa-laptop"></i>Coures</h3>
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
					<li><i class="fa fa-laptop"></i>Coures</li>
				</ol>
			</div>

	{% if messages %}
      <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
	     <section class="admin-listCategory-content">
		  <div class="col-xs-12 padd-none">
		   <div class="admin-listCategory-content-inner">
            <div class="col-xs-12 padd-none">
			</div>
			<div class="col-xs-12 padd-none">
			 <table>
			  <tbody>
			   <tr>
			    <th>Name</th>
				<th>Add Online Course</th>
				<th>Action</th>
			   </tr>
			   {% if courselist %}
			   {% for s in courselist %}
			   <tr>
			    <td>{{s.name}}</td>
				<td><a href="../online-course-add/{{s.id}}" class="btn btn-info">Add Online Course</a></td>
				<td><a href="../course-edit/{{s.id}}" class="btn btn-info">Edit</a>&nbsp;&nbsp;&nbsp;
					<a href="../coursedelete/{{s.id}}" class="btn btn-info">Delete</a>
				</td>
			   </tr>
			  {% endfor %}
			  {% else %}
                     <p>No any Course found in database.</p>
              {% endif %}
			  </tbody>
			 </table>
			</div>
		   </div>
		  </div>
	    </section>
	  </div>
      </section>
      <!--main content end-->
{% include "mindcreature-admin/footer.html" %}

