
 {% include "mindcreature-admin/header.html" %}
 <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    tinymce.init({
  selector: 'textarea',
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});
</script>
      <!--main content start-->
      <section id="main-content">
         <div class="wrapper">
			<div class="col-xs-12 padd-none">
				<h3 class="page-header"><i class="fa fa-laptop"></i>Edit Promo Code</h3>
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="../mind">Home</a></li>
					<li><i class="fa fa-laptop"></i>Edit Promo Code</li>
				</ol>
			</div>
     {% if messages %}
      <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
	     <section class="admin-addCategory-content">
		  <div class="col-xs-12 padd-none">
		   <div class="admin-addCategory-content-inner">
			<div class="col-md-6 col-sm-6 col-xs-12 padd-none">
              {% for a in promocode_list %}
            <form action="{% url "editpromocode" %}" method="POST" enctype="multipart/form-data" >
				{% csrf_token %}
                <input type="hidden" name="id" value="{{a.id}}" />
              <div class="form-group">
			  <label>Course</label>
                  <select name="course_id" id="">
                      <option value="{{a.course_id.id}}" selected="selected" >{{a.course_id.name}}</option>
                        {% for s in courselist %}
                        <option value="{{s.id}}" >{{s.name}}</option>
                       {% endfor %}
                  </select>
			  </div>


			 <div class="form-group">
			  <label>Promo Code</label>
			  <input type="text" name="promo" value="{{a.promo}}" />
			 </div>



             <div class="form-group">
			 <label>discount</label>
			 <input type="number" name="discount" value="{{a.discount}}" />
			 </div>

			 <div class="btn-group">
			  <input type="submit" value="Submit" />
			 </div>
			</form>
                {% endfor %}
		   </div>
		   </div>
		 </div>
	    </section>
	  </div>
      </section>
      <!--main content end-->
{% include "mindcreature-admin/footer.html" %}
