{% include "header.html" %}
{% load static %}
 <section class="career-page">
   <div class="col-xs-12 top-strip padd-none">
    <h1>Career</h1>
     <div class="container">
       <div class="row">
	     <div class="col-xs-12 padd-none">
		   <div class="career-content">
		    <div class="col-md-8 col-sm-8 col-xs-12 padd-none">
			  <div class="mindcreature-career">
			    <h2>Careers</h2>
			    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
				industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
				scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
				electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of 
				Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
				PageMaker including versions of Lorem Ipsum.</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
				industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
				scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
				electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of 
				Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
				PageMaker including versions of Lorem Ipsum.</p>
				<h3>Lorem Ipsum</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
				industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
				scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
				electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of 
				Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
				PageMaker including versions of Lorem Ipsum.</p>
			  </div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 padd-none">
			  <div class="career-sidebar">
				  <h3>Trending Courses</h3>
			    <a href="#"><div class="career-sidebar-part">
				  <img src="{% static '' %}image/machine.png" alt="Mindcreature Course" />
				  <h4>Machine Learning</h4>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
				industry's standard dummy text ever since the 1500s.</p>
				</div></a>
				<a href="#"><div class="career-sidebar-part">
				  <img src="{% static '' %}image/machine.png" alt="Mindcreature Course" />
				  <h4>Machine Learning</h4>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
				industry's standard dummy text ever since the 1500s.</p>
				</div></a>
			  </div>
			</div>
		 </div>
		 </div>
	   </div>
     </div>
    </div>
</section>
{% include "footer.html" %}
