{% include "header.html" %}
{% load static %}
 <section>
   <div class="col-xs-12 top-strip padd-none">
    <h1>Customer Reviews</h1>
   </div>
    <div class="customer-reviews">
     <div class="container">
        <div class="row">
		 <div class="col-xs-12 padd-none">
		   <div class="col-md-4 col-sm-4 col-xs-12 padd-none">
		     <div class="customer-review">
			    <h3><strong>Gurjinder Kaur</strong></h3>
				<p><img src="{% static '' %}image/star-rating-image.png" alt="Rating"/></p>
				<p>I started the course of python from mindcreature. It was really helpful to me. Online training with live instructor helped me to clear my concepts. It was really a nice experience to me. Also the course was of beignners to advance level but they did not make me to feel difficulty in learning.</p>
			 </div>
		   </div>
		   <div class="col-md-4 col-sm-4 col-xs-12 padd-none">
		     <div class="customer-review">
			    <h3><strong>John Deo</strong></h3>
				<p><img src="{% static '' %}image/star-rating-image.png" alt="Rating"/></p>
				<p>It was a great experience to learn from mindcreature. Really satisfied after training from such experienced faculties. Thanks to mindcreature team for providing such platform for learning such new concepts. Collaborative knowledge from lectures, labs and videos is excellent.</p>
			 </div>
		   </div>
		   <div class="col-md-4 col-sm-4 col-xs-12 padd-none">
		     <div class="customer-review">
			    <h3><strong>John Smith</strong></h3>
				<p><img src="{% static '' %}image/star-rating-image.png" alt="Rating"/></p>
				<p>Professional and knowledgeable course. I really enhanced my skills after joining this course. Supportive trainers, face to face gathering and each and every doubt is cleared to me. It was awesome experience for me to be trained under such knowledgeable faculties.</p>
			 </div>
		   </div>
		   <div class="col-md-4 col-sm-4 col-xs-12 padd-none">
		     <div class="customer-review">
			    <h3><strong>Hazoor Singh</strong></h3>
				<p><img src="{% static '' %}image/star-rating-image.png" alt="Rating"/></p>
				<p>Thanks so much, the course was helpful to me. All concepts are taught thoroughly and all questions are answered. I am extremely satisfied with the course. It made me to have good command on the coding.</p>
			 </div>
		   </div>
		 </div>
		</div>
     </div>
	</div>
</section>
{% include "footer.html" %}
