{% include "header.html" %}
      <div class="col-xs-12 padd-none">
      <div class="top-strip" >
       <h1>Privacy</h1>
       </div>
        </div>
		<div class="container">
		<div class="row"><div class="col-xs-12 padd-none">
		<div class="company-policy">
		<ol>
		<li>This web site is operated and owed through Webtunix solution private limited 
		("we", "our", or "us" or the “organization"). We appreciate and value your private concerns. 
		Our main focus is to make your experience online safe and satisfying. 
Privacy policy governs data that client serves to us and we gain from your use of this website. Constitutes 
a legal agreement between you, as the user of site, and an enterprise, as a owner of web site. The policy may even 
inform you how we may accumulate, use, and in some instances share this info. Our policies doesn’t apply on 3rd party
 websites which are connected via links to our website and could vary from different provider offerings and you have to careful overview terms 
of provider and this privacy observe before utilising these offerings and services.</li>
<h3>Collected Information</h3>
		<li>
		Commonly you can visit the website without any
		relevant information about yourself. When you provide your
		information you can access all the information that described in policy.
		<p>
		If you want to register, and are 13 years older or younger’s, we will collect and process all the information from you:
		</p>
		<p>
		To fill the forms essential information that provided by you for example contact information address, phone number, email name, mailing address, , 
		financial info, if any particular identifiers like preferences info, transaction history, favourites lists.
		</p>
		<p>
		Understanding that you simply provide while you write instantly to us (including by using electronic mail).
		</p>
		<p>
		When you access our website, browser reported automatically with the help of log information and our servers
		automatically contain that information that your browser sends. These server logs can access the info regarding
		Internet Protocol (IP) address, web request, type of browser,
		exit pages and number of clicks, URLs, landing pages, names of domain, pages viewed, and other such information.
		</p>
		</li>
		<h3>Billing</h3>
		<li>For those who use or provide services on the site for which we implement a billing approach for you, we will be able to acquire additional info from you so that we are able to procedure and collect billing expertise. For example, we could accumulate your mailing address to remit payments.
		</li>
		<h3>Cookies</h3>
		<li>
		The website makes use of program tags known as "Cookies" to establish shoppers when they discuss with our website. Cookies are used to don't forget person preferences and maximize performance of our services. The data we collect with cookies will not be rented, sold and shared with any outside parties. Users who disable their web browser's potential to take delivery 
		of cookies might be equipped to browse our site however might not be competent to successfully use our service. 
		</li>
	    <li>
		We use both session id cookies and protracted cookies. A session identification cookie expires when you shut your browser. A chronic cookie stays for your hard drive for an extended period of time. You can eliminate continual cookies by means of following instructional materials offered to your internet browser's "help" file. Persistent cookies enable us to track and target the interests of our users to enhance the experience on our website online. 
This privacy policy covers use of cookies via our website only and does not cover use of cookies by any advertisers.
		</li>
		</ol>
		</div></div>
		</div>
		</div>
{% include "footer.html" %}
