{% include "header.html" %}
	 <!-- banner  -->
<div class="col-xs-12 padd-none">
   <div class="top-strip" >
   <h1>Terms &amp; Conditions</h1>
       </div>
        </div>
		<div class="container">
		<div class="row"><div class="col-xs-12 padd-none">
		<div class="company-policy">
		<h2>About The Company</h2>
		<ol>
		<li><a href="#">http://www.mindcreature.com/</a> (the "Site"), the courses 
		available from Site (the "Courses"), and training services made available on or
		through Site and software ( "Services"), are owned, operated, and maintained, as applicable, 
		by Webtunix Solutions Private Limited (hereinafter referred to as "we", "our", "us", or "Company",
		as case may be). Main Site, Courses, and Services are, collectively referred to as "Company Products".
		By (a) using or accessing Products of Company, including, but does not limited to streaming, accessing or using 
		software; or (b) paying, either for itself or for someone else to
		use or access Company Products, you agree to terms and conditions set forth in these terms of use ( "Terms").</li>
		<li>
		These terms, unless same has been specifically excluded
		by any other instrument to which the company and/or user subject to, 
		involve this introductory portion create a binding legal contract between you 
		and company. By using company products, you represent and warrant that you have read, 
		understood, and agrees to be bound by these terms. If you do not be given these 
		terms, you have to not use - and aren't licensed to make use of - all or any section of 
		the enterprise products.
		</li>
		<li>
		For purposes of Terms, term “User(s)/You” shall mean 
		and include all persons, natural or artificial, that visit Site
		including those that have agreed to become registered users on
		Site by providing registration data while registering on Site as registered 
		users accessing Company Products through Website. If you are a parent, guardian,
		or other usual person who enables a child to access Company Products, you agree to stand 
		in the shoes of such child for needs of creating us entire in case of damages or indemnification
		that might thoroughly lie towards a child, if no longer for his or her age. This website 
		online is meant to be used by a usual person only if such ordinary character is thirteen (thirteen)
		years of age or older.
		</li>
		<li>
		If you are utilization or opening an account to 
		use Company Products on behalf of acompany, entity or organization (each a "Subscribing Entity").
		<p>- A licensed consultant of that Subscribing Entity with authority to cover such entity tothese Terms.</p>
		<p>- Agree to bind by these Terms on behalf of such Subscribing Entity.</p>
		</li>
		</ol>
		<h3>Privacy</h3>
		<ol>
		<li>
		Any private information submitted in connection with your utilization of Site is 
		subject to our Privacy Policy that is available at http://www.mindcreature.com/privacy-policy/ conditions 
		of which are hereby incorporated into these conditions via reference. Please review our privacy policy to realise our best services.
		</li>
		<li>
		User can obtain rare confidential info, involve without any drawback, 
		technical, contractual, product, pricing and other valuable information that should 
		reasonably be understood as private (“Confidential Information”). Person acknowledges and has 
		the same opinion to keep all private information in strict self assurance. Title and all interests to 
		all Confidential Information shall be vested in an enterprise. User’s obligations regarding Confidential 
		Information will survive ending of these Terms of Use in accordance with clause on ‘Termination’ below. User
		agrees that its obligations under this clause is necessary and reasonable in order to protect Company’s business
		and expressly agrees that monetary damages would be inadequate to compensate for any breach or agreement set forth
		herein. Consequently, person concurs and acknowledges that the sort of violation or threatened violation will motive 
		irreparable harm and harm to the company and that, additionally to any other remedies which may be on hand, in regulation, 
		equity or in any other case,
		company might be entitled to receive injunctive alleviation against threatened breach of those phrases or continuation of any such breach.
		</li>
		</ol>
		<h3>General</h3>
		<ol>
		<li>
		Company Products enable the applicant to learn by live and assigned instruction, tutoring, and learning services through our proprietary Software. Services involve, without drawbacks, facilitating and hosting Courses, and taking feedback from Applicants.
		</li>
		<li>
		You understand and agree that these conditions are agreed to in consideration of your utilization of Company Products and other good and valuable consideration, receipt and sufficiency of which are hereby acknowledged.</li>
		<li>
		Changes to these Terms.Company reserves absolute right to revise these Terms in its sole discretion at any time and without prior notice to you rather than by using posting revised conditions on Site. Any revisions to Terms and conditions are effective upon posting. Terms will be identified as of the most recent date of revision. You have to visit this page mainly to make certain your endured acceptance of these terms. Your persisted utilization of company products after any revision to these phrases constitutes your binding acceptance of revised terms. Previous sentences of this section, no revisions to those terms will apply to any dispute between you and Enterprise that arose prior to the date of such revision</li>
		<li>
		<strong>Evolving Nature of Services.</strong>Enterprise Products are new and subject to change at any time. We are continually focusing to improve Enterprise Products but if you are at any time dissatisfied with Enterprise Products, then your sole remedy is to discontinue utilization of Enterprise Products.
		</li>
		<li>
		<strong>Electronic Notices.</strong> By utilization Enterprise Products or communicate with us, you agree which we can communicate with you electronically regarding security, privacy, and administrative issues relating to your utilization of the Enterprise Products. If we learn of a breach security systems, we might attempt to notify you electronically by posting a notice on site or sending an email to you personally.
		</li>
		</ol>
		</div>
		</div>
		</div>
		</div>
{% include "footer.html" %}
